@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    color: aliceblue;
    margin: 0;
    font-family: Josefin Sans;
}

#ham{
    display: none;
}

#nav{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
}

#lis{
    display: flex;
    position: absolute;
    top: 1mm;
    right: 1mm;
}

#lis li{
    padding-left: 37.7px;
    padding-right: 37.7px;
    list-style: none;
    font-style: none;
    letter-spacing: 10px;
}

#lis li a{
    color: azure;
    text-decoration: none;
}

#lis li a:hover {
    background-color: gray;
    padding: 10px;
    border-radius: 25px;
}

#lg{
    position: absolute;
    top: -2.5px;
    left: 10px;
    width: 60px;
}

#ham{
    display: none;
}

#hom{
    position: fixed;
    background-image: url("https://www.fayerwayer.com/resizer/UGs2d8EBlM31jaaCoMIFi6QN32A=/1440x1080/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/AO3VT4HEP5D7RIQHTXCVVTEVCE.jpg");
    filter: blur(2px);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -10;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#lem{
    position: absolute;
    left: 43%;
    top: 4pc;
    font-size: 4vw;
}

#des{
    position: absolute;
    text-align: center;
    top: 10pc;
    left: 10%;
    width: 80%;
    height: 30%;
    font-size: 3vw;
}

#com > #lg{
    position: absolute;
    width: 100px;
    left: 700px;
    top: 65%;
    bottom: 150px;
    border-radius: 6%;
    z-index: 10;
    opacity: 0;
    animation: lg 10s  2s infinite;
}

@keyframes lg {
    0%{
        opacity: 0;
    }

    60%{
        opacity: 0;
    }
    
    75%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#fon{
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 20%;
    height: 21%;
    left: 590px;
    bottom: 135px;
    border-radius: 6%;
    animation: fon 10s  2s infinite;
}

@keyframes fon {
    0%{
        left: 590px;
        bottom: 135px;
    }

    20%{
        left: 100px;
        bottom: 135px;
    }

    40%{
        left: 100px;
        bottom: 100px;
    }

    60%{
        left: 100px;
        bottom: 135px;
        background-color: rgb(87, 86, 86);
    }
}

#pan{
    position: absolute;
    background-color: rgb(87, 86, 86);
    width: 19%;
    height: 120px;
    left: 598px;
    bottom: 150px;
    border-radius: 6%;
    animation: pan 10s 2s infinite;
}

@keyframes pan {
    0%{
        left: 598px;
        bottom: 150px;
    }

    20%{
        left: 110px;
        bottom: 150px;
    }

    40%{
        left: 110px;
        bottom: 118px;
    }

    60%{
        left: 110px;
        bottom: 150px;
        background-color: rgb(41, 41, 41);
    }
}

#sta{
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 5%;
    height: 10%;
    left: 705px;
    bottom: 80px;
    border-radius: 6%;
    z-index: -2;
    animation: sta 10s 2s infinite;
}

@keyframes sta {
    0%{
        left: 705px;
        bottom: 80px;
    }

    20%{
        left: 1200px;
        bottom: 80px;
    }

    40%{
        left: 1200px;
        bottom: 120px;
    }

    60%{
        left: 1200px;
        bottom: 80px;
        background-color: rgb(87, 86, 86);
    }
}

#bas{
    position: absolute;
    background-color: rgb(41, 41, 41);
    width: 15%;
    height: 3%;
    left: 625px;
    bottom: 60px;
    border-radius: 2%;
    z-index: -2;
    animation: bas 10s 2s infinite;
}

@keyframes bas {
    0%{
        left: 625px;
        bottom: 60px;
    }

    20%{
        left: 1120px;
        bottom: 60px;
    }

    40%{
        left: 1120px;
        bottom: 100px;
    }

    60%{
        left: 1120px;
        bottom: 60px;
        background-color: rgb(87, 86, 86);
    }
}

@media (max-width: 660px){

    #nav li{
        display: none;
    }

    #ham{
        display: contents;
        position: absolute;
        transform: translateX(10px);
    }
}

footer{
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 3vw;
    text-align: center;
    font-size: 1vw;
}

#cop{
    position: relative;
    bottom: 8px;
}
